*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
}
a{
    text-decoration: none;
}
:root{
    --background: #141922;
    --upgrade:#080b12;
    --footer: #282828;
    --greytext: #7d7f84;
    --green: #adff2f;
}
.row{
    width: calc(100% - 40px);
    margin: 20px 20px;
    display: flex;
    column-gap: 10px;
}
.card{
    display: flex;
    width: calc(100% / 6);
    flex-wrap: wrap;
    position: relative;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* main */
#site_main{
    height: calc(100vh - 100px);
    max-width: 100%;
}
.container{
    width: 100%;
    height: 100%;
}
/* sidebar */
#sidebar{
    height: calc(100vh - 100px);
    background-color: black;
    width: 250px;
    float: left;
    position: relative;
    overflow: hidden;
}
.logo{
    height: 100px;
}
.logo > img{
    width: 170px;
    margin: 20px 10px 60px;
}
.logo img:last-child{
    position: absolute;
    visibility: hidden;
}
.home > i, .home > span{
    color: white;
}
.home, .search, .library{
    color: var(--greytext);
    padding-top: 10px;
}
.side_menu i{
    font-size: 30px;
    padding-left: 30px;
    padding-right: 10px;
}
.home > i{
    padding-left: 28px;
}
.home_border{
    border-left: 2px solid var(--green);
}
.playlist h3{
    color: white;
    margin: 20px 30px 10px;
}
.create{
    color: var(--greytext);
    margin-left: 30px;
    display: flex;
}
.create > i{
    font-size: 40px;
    margin-right: 10px;
}
.create > span{
    align-self: center;
}
.create i:hover, .create span:hover, .list_collection p:hover,
.home:hover, .search:hover, .library:hover, .download:hover{
    color: white;
}
.list_collection{
    height: calc(100% - 100px);
    color: var(--greytext);
    margin-left: 30px;
    overflow-y: auto;
}
.list_collection p{
    margin-top: 10px;
}
.utente{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 30px;
}
.download{
    width: 100%;
    color: var(--greytext);
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--greytext);
}
.download > span{
    margin-left: 10px;
}
.account{
    color: white;
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.account > img{
    height: 30px;
    width: 30px;
    background-color: #7d7f84;
    border-radius: 50%;
}
.account > span{
    margin-left: 10px;
}
/* content */
#content{
    float: left;
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    background-color: var(--background);
}
.upgrade{
    width: 100%;
    height: 100px;
    background-color: var(--upgrade);
}
.btn{
    color: white;
    padding: 10px 30px;
    border: 2px solid white;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 50px;
    float: right;
    margin: 20px 5px;
    
}
.btn > a{
    color: white;
}
.btn:hover{
    color: white;
    padding: 15px 40px;
}
.brani{
    overflow-y: auto;
    height: calc(100% - 100px);
}
.navbar{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.navbar > div{
    position: relative;
}
.green_bar{
    border: 1px solid var(--green);
    width: 40%;
    position: absolute;
    left: 30%;
}
.navbar p{
    color: var(--greytext);
}
.navbar p:hover{
    color: white;
}
.cover i{
    position: absolute;
    font-size: 50px;
    color: white;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
.recent, .user_rec, .artists{
    width: 100%;
    margin-top: 40px;
}
.recent h2, .user_rec h2, .artists h2{
    color: white;
    margin-left: 20px;
}
.cover img{
    width: 100%;
    height: auto;
}
.white{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 20px 0 0;
}
.card p:nth-child(3){
    color: var(--greytext);
    margin: 10px 0;
    width: 100%;
    font-size: 14px;
    text-align: center;
}
.user_rec > p, .artists > p{
    color: var(--greytext);
    font-size: 14px;
    margin: 20px 0 0 20px;
}
.rounded{
    border-radius: 50%;
}
.cover:hover img{
    filter: brightness(0.5);
}
.cover:hover i{
    visibility:visible ;
}
/* footer */
#site_footer{
    display: flex;
    height: 100px;
    background-color: var(--footer);
    justify-content: space-between;
}
.track{
    display: flex;
    width: 30%;
    align-items: center;
}
.track > img{
    display: inline;
    height: 60px;
    margin: 20px;
}
.track i{
    color: var(--greytext);
    font-size: 20px;
    margin-left: 20px;
}
.track_text > h4{
    color: white;
}
.track_text > p{
    color: var(--greytext);
    margin-right: 50px;
}
.player{
    display: flex;
    width: 40%;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
.icons i{
    font-size: 20px;
    color: white;
    margin: 10px 20px 0;
}
.icons i:nth-child(3){
    font-size: 30px;
}
.time_bar{
    display: flex;
    width: 100%;
}
.time_bar div{
    display: inline;
}
.time_bar div:first-child, .time_bar div:last-child{
    color: white;
    margin: 0 10px;
}
.time{
    width: 90%;
    border: 2px solid grey;
    border-radius: 2px;
    height: 0px;
    align-self: center;
    position: relative;
}
.active{
    width: 30%;
    position: absolute;
    border: 2px solid white;
    border-radius: 2px;
    top: -2px;
    left: -12px;
    height: 0px;
}
.green{
    width: 30%;
    position: absolute;
    border: 2px solid var(--green);
    border-radius: 2px;
    top: -2px;
    left: -12px;
    height: 0px;
    visibility: hidden;
}
.time:hover > .green{
    visibility: visible;
}
.settings{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: flex-end;
}
.settings i{
    font-size: 20px;
    color: white;
    margin-left: 20px;
}
.volume{
    border: 2px solid grey;
    border-radius: 2px;
    width: 50%;
    margin: 0 20px;
    position: relative;
}
.active_volume{
    border: 2px solid white;
    border-radius: 2px;
    position: absolute;
    width: 30%;
    top: -2px;
    left: -2px;
}
.green_volume{
    border: 2px solid var(--green);
    border-radius: 2px;
    position: absolute;
    width: 30%;
    top: -2px;
    left: -2px;
    visibility: hidden;
}
.volume:hover > .green_volume{
    visibility: visible;
}
.track_text>p:hover{
    color: white;
    border-bottom: 1px solid white;
}
.track i:hover{
    color: white;
}
.icons i:nth-child(3):hover{
    font-size: 35px;
}
/* md */
@media screen and (max-width: 1080px){
    #sidebar{
        height: calc(100vh - 100px);
        background-color: black;
        width: 200px;
        float: left;
        position: relative;
        overflow: hidden;
    }
    #content{
        float: left;
        width: calc(100% - 200px);
        height: calc(100vh - 100px);
        background-color: var(--background);
    }
    .row{
        width: calc(100% - 40px);
        margin: 20px 20px;
        display: flex;
        column-gap: 10px;
        flex-wrap: wrap;
    }
    .card{
        display: flex;
        width: 24%;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .cover img{
        width: 100%;
        height: auto;
    }
}
/* s */
@media screen and (max-width:768px){

    .navbar{
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .navbar p{
        font-size: 14px;
        width: calc(100% / 4);
    }
    .navbar div, .navbar p{
        text-align: center;
    }
    .navbar div p:first-child{
        width: 100%;
    }
    .row{
        width: calc(100% - 40px);
        margin: 20px 20px;
        display: flex;
        column-gap: 10px;
        flex-wrap: wrap;
    }
    .card{
        display: flex;
        width: 48%;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .icons i{
        font-size: 20px;
        color: white;
        margin: 10px 10px 0;
    }
    .player{
        row-gap: 10px;
    }
    .track i{
        display: block;
        margin: 10px 0;
        width: 100%;
    }
}
@media screen and (max-width:600px){
    #sidebar{
        height: calc(100vh - 100px);
        background-color: black;
        width: 50px;
        float: left;
        position: relative;
        overflow: hidden;
    }
    #content{
        float: left;
        width: calc(100% - 50px);
        height: calc(100vh - 100px);
        background-color: var(--background);
    }
    .logo img:first-child{
        visibility: hidden;
    }
    .logo img:last-child{
        visibility: visible;
        top: 0;
        left: -5px;
        width: 40px;
    }
    .side_menu span, .search span, .library span, .track i, .volume,
    .active_volume, .green_volume, .playlist h3, .create span, .list_collection,
    .utente span, .account span{
        visibility: hidden;
    }
    .side_menu i{
        font-size: 24px;
    }
    .home i{
        padding-left: 10px;
    } 
    .search i, .library i{
        padding-left: 12px;
    }
    .playlist h3{
        height: 0px;
    }
    .create{
        margin-left: 8px;
    }
    .utente{
        padding-left: 10px;
    }
    .download{
        border-bottom: none;
        padding: 0;
    }
    .download i{
        font-size: 15px;
        padding-left: 5px;
    }
    .download span{
        position: absolute;
    }
}
/* us */
@media screen and (max-width:420px){
    .row{
        width: calc(100% - 40px);
        margin: 20px 20px;
        display: flex;
        column-gap: 10px;
        flex-wrap: wrap;
    }
    .card{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .navbar{
        visibility: hidden;
        position: absolute;
    }
    .track img{
        position: absolute;
        visibility: hidden;
    }
    .track_text{
        margin-left: 30px;
    }
    .icons{
        position: relative;
    }
    .icons i{
        visibility: hidden;
    }
    .icons i:nth-child(3){
        visibility: visible;
        position: absolute;
        top: 10%;
        left: 30%;
    }
    .time_bar div:first-child, .time_bar div:last-child{
        visibility: hidden;
    }
    .time_bar{
        position: relative;
    }
    .time{
        position: absolute;
        visibility: visible;
        width: 140px;
        top: 30px;
        left: 10px;
    }
    .settings{
        justify-content: space-around;
    }
}
