*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
a{
    text-decoration: none;
}
:root{
    --background: #141922;
    --upgrade:#080b12;
    --footer: #282828;
    --greytext: #7d7f84;
    --green: #adff2f;
}
.row{
    width: calc(100% - 40px);
    margin: 0 20px;
    display: flex;
    column-gap: 10px;
}
.card{
    display: flex;
    width: calc(100% / 6);
    flex-wrap: wrap;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* main */
#site_main{
    height: calc(100vh - 100px);
}
.container{
    width: 100%;
    height: 100%;
}
/* sidebar */
#sidebar{
    height: calc(100vh - 100px);
    background-color: black;
    width: 250px;
    float: left;
}
.logo{
    height: 100px;
}
.logo > img{
    width: 170px;
    margin: 20px 10px 60px;
}
.home > i, .home > span{
    color: white;
}
.home, .search, .library{
    color: var(--greytext);
    padding-top: 10px;
}
.side_menu i{
    font-size: 30px;
    padding-left: 30px;
    padding-right: 10px;
}
.home > i{
    padding-left: 28px;
}
.home_border{
    border-left: 2px solid var(--green);
}
.playlist h3{
    color: white;
    margin: 20px 30px 10px;
}
.create{
    color: var(--greytext);
    margin-left: 30px;
    display: flex;
}
.create > i{
    font-size: 40px;
    margin-right: 10px;
}
.create > span{
    align-self: center;
}
.list_collection{
    height: calc(100% - 100px);
    color: var(--greytext);
    margin-left: 30px;
}
.list_collection p{
    margin-top: 20px;
}
/* content */
#content{
    float: left;
    width: calc(100% - 250px);
    height: calc(100vh - 100px);
    background-color: var(--background);
}
.upgrade{
    width: 100%;
    height: 100px;
    background-color: var(--upgrade);
}
.btn{
    color: white;
    padding: 10px 30px;
    border: 2px solid white;
    font-weight: bolder;
    border-radius: 50px;
    float: right;
    margin: 20px 5px;
    
}
.btn > a{
    color: white;
}
.brani{
    overflow-y: auto;
    height: calc(100% - 100px);
}
.navbar{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.navbar p{
    color: var(--greytext);
}
.recent, .user_rec, .artists{
    width: 100%;
    margin-top: 40px;
}
.recent h2, .user_rec h2, .artists h2{
    color: white;
    margin-left: 30px;
}
.card img{
    width: 100%;
    margin: 10px;
}
.card p{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 5px 0;
}
.card p:last-child{
    color: var(--greytext);
    font-size: 14px;
}
/* footer */
#site_footer{
    display: flex;
    height: 100px;
    background-color: var(--footer);
    justify-content: space-between;
}
.track{
    display: flex;
    width: 30%;
    align-items: center;
}
.track > img{
    display: inline;
    height: 60px;
    margin: 20px;
}
.track i{
    color: var(--greytext);
    font-size: 20px;
    margin-left: 20px;
}
.track_text > h4{
    color: white;
}
.track_text > p{
    color: var(--greytext);
    margin-right: 50px;
}
.player{
    display: flex;
    width: 40%;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
.icons i{
    font-size: 20px;
    color: white;
    margin: 10px 20px 0;
}
.icons i:nth-child(3){
    font-size: 30px;
}
.time_bar{
    display: flex;
    width: 100%;
}
.time_bar div{
    display: inline;
}
.time_bar div:first-child, .time_bar div:last-child{
    color: white;
    margin: 0 10px;
}
.time{
    width: 90%;
    border: 2px solid grey;
    border-radius: 2px;
    height: 0px;
    align-self: center;
    position: relative;
}
.active{
    width: 30%;
    position: absolute;
    border: 2px solid white;
    border-radius: 2px;
    top: -2px;
    left: -12px;
    height: 0px;
}
.green{
    width: 30%;
    position: absolute;
    border: 2px solid var(--green);
    border-radius: 2px;
    top: -2px;
    left: -12px;
    height: 0px;
    visibility: hidden;
}
.time:hover > .green{
    visibility: visible;
}
.settings{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: flex-end;
}
.settings i{
    font-size: 20px;
    color: white;
    margin-left: 20px;
}
.volume{
    border: 2px solid grey;
    border-radius: 2px;
    width: 50%;
    margin: 0 20px;
    position: relative;
}
.active_volume{
    border: 2px solid white;
    border-radius: 2px;
    position: absolute;
    width: 30%;
    top: -2px;
    left: -2px;
}
.green_volume{
    border: 2px solid var(--green);
    border-radius: 2px;
    position: absolute;
    width: 30%;
    top: -2px;
    left: -2px;
    visibility: hidden;
}
.volume:hover > .green_volume{
    visibility: visible;
}